.social-icons {
  color:#313437;
  background-color:#000;
  text-align:center;
  padding-bottom:30px;
}

@media (max-width:767px) {
  .social-icons {
    padding:50px 0;
  }
}

.social-icons i {
  font-size:26px;
  display:inline-block;
  color:#fff;
  margin:0 10px;
  width:40px;
  height:40px;
  border:1px solid #c8ced7;
  text-align:center;
  border-radius:50%;
  line-height:40px;
}

